$colorsfunction: (
  gray: (
    100: #F3F4F5,
    200: #EEEEEE,
    300: #D8DEE6,
    400: #E7EEF5,
    500: #FAFDFF,
    600: #DAE6EA,
    700: #80868B,
  ),
  blue: (
    100: #E0E8ED,
    200: #EAECEE,
    300: #6E9FC9,
    400: #337AB7,
    700: #6A7585,
    800: #344255,
  ),
  blue-gray: (
    600: #628CA6, 
    700: #586373,
    800: #5A687B,
  ),
  pink: (
    600: #EF748A,
  ),
  green: (
    600: #56BF8A,
  ),
  copper: (
    600: #E88D67,
  ),
);
