
$lineheightfunction: (
  line: (
    xs: 1rem, //16
    sm: 1.25rem, //20
    base: 1.5rem, //24
    xl: 1.75rem, //28
    lg: 1.75rem, //28
    2xl: 2rem, //32
    3xl: 2.25rem, //36
    4xl: 2.5rem, //40
    5xl: 1,
  ),

);
