@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, #26282b, 50%)) {
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    &::-webkit-scrollbar-thumb {
        background: $foreground-color;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
        background: $background-color;
        border-radius: 4px;
    }
}

.custom-scrollbars{
    overflow-x: auto;
    @include scrollbars(.3em, #ceceec);
    // margin: 0 0 0 0;
    // padding-right: 0;
}
